# Ignore everything by default
/*

# Keep these at repo root
!/.gitignore
!/README.md
!/Cargo.toml
!/Cargo.lock
!/config.json
!/stock_code.csv
!/build_macos_intel_release.sh

# Keep Rust source files under src/
!/src/
!/src/**
